.page {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.main-content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.pingu-image {
  width: 200px;
  height: 140px;
}

.report-result {
  padding-top: 20px;
}

.create-player {
  padding-top: 20px;
}

.report-result__item {
  padding: 10px 10px;
}

.report-result__item__text {
  width: 75px;
}
