.page {
  height: 1000px;
}

.main-content {
  margin: auto;
  width: 50%;
}

.footer {
  text-align: center;
}

.pingu-image-left {
  width: 200px;
  height: 140px;
  float: left;
}

.pingu-image-right {
  width: 200px;
  height: 140px;
  float: right;
}

.report-result {
  display: flex;
  justify-content: center;
}

.report-result__item {
  padding: 10px 10px;
}

.report-result__item__text {
  width: 75px;
}
