.page {
  height: 1000px;
}

.main-content {
  margin: auto;
  width: 50%;
}

.scoreboard {
  width: 100%;
  margin-bottom: 50px;
}

.scoreboard__header {
  display: flex;
  justify-content: space-between;
}

.scoreboard tr th {
  background-color: green;
  text-align: center;
}

.scoreboard tr td {
  background-color: aqua;
  text-align: center;
}

.footer {
  text-align: center;
}

.pingu-image-left {
  width: 200px;
  height: 140px;
  float: left;
}

.pingu-image-right {
  width: 200px;
  height: 140px;
  float: right;
}
